<?xml version="1.0" encoding="utf-8"?>
<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\DataMigrationTool\Test\Constraint\AssertProductInGrid">
        <arguments>
            <argument name="severity" xsi:type="string">high</argument>
        </arguments>
    </type>
    <type name="Magento\DataMigrationTool\Test\Constraint\AssertProductPage">
        <arguments>
            <argument name="severity" xsi:type="string">middle</argument>
        </arguments>
    </type>
    <type name="Magento\DataMigrationTool\Test\Constraint\AssertProductForm">
        <arguments>
            <argument name="severity" xsi:type="string">high</argument>
        </arguments>
    </type>
    <type name="Magento\DataMigrationTool\Test\Constraint\AssertProductIsNotDisplayingOnFrontend">
        <arguments>
            <argument name="severity" xsi:type="string">high</argument>
        </arguments>
    </type>
    <type name="Magento\DataMigrationTool\Test\Constraint\AssertProductAttributeSaveMessage">
        <arguments>
            <argument name="severity" xsi:type="string">high</argument>
        </arguments>
    </type>
    <type name="Magento\DataMigrationTool\Test\Constraint\AssertProductCrossSells">
        <arguments>
            <argument name="severity" xsi:type="string">middle</argument>
        </arguments>
    </type>
    <type name="Magento\DataMigrationTool\Test\Constraint\AssertProductAttributeSuccessDeleteMessage">
        <arguments>
            <argument name="severity" xsi:type="string">high</argument>
        </arguments>
    </type>
    <type name="Magento\DataMigrationTool\Test\Constraint\AssertProductAbsentCrossSells">
        <arguments>
            <argument name="severity" xsi:type="string">middle</argument>
        </arguments>
    </type>
    <type name="Magento\DataMigrationTool\Test\Constraint\AssertProductRelatedProducts">
        <arguments>
            <argument name="severity" xsi:type="string">middle</argument>
        </arguments>
    </type>
    <type name="Magento\DataMigrationTool\Test\Constraint\AssertProductAttributeAbsenceInGrid">
        <arguments>
            <argument name="severity" xsi:type="string">high</argument>
        </arguments>
    </type>
    <type name="Magento\DataMigrationTool\Test\Constraint\AssertProductAbsentRelatedProducts">
        <arguments>
            <argument name="severity" xsi:type="string">middle</argument>
        </arguments>
    </type>
    <type name="Magento\DataMigrationTool\Test\Constraint\AssertProductUpSells">
        <arguments>
            <argument name="severity" xsi:type="string">middle</argument>
        </arguments>
    </type>
    <type name="Magento\DataMigrationTool\Test\Constraint\AssertProductAttributeAbsenceInSearchOnProductForm">
        <arguments>
            <argument name="severity" xsi:type="string">high</argument>
        </arguments>
    </type>
    <type name="Magento\DataMigrationTool\Test\Constraint\AssertProductAbsentUpSells">
        <arguments>
            <argument name="severity" xsi:type="string">middle</argument>
        </arguments>
    </type>
    <type name="Magento\DataMigrationTool\Test\Constraint\AssertAttributeSetSuccessSaveMessage">
        <arguments>
            <argument name="severity" xsi:type="string">high</argument>
        </arguments>
    </type>
    <type name="Magento\DataMigrationTool\Test\Constraint\AssertAttributeSetForm">
        <arguments>
            <argument name="severity" xsi:type="string">high</argument>
        </arguments>
    </type>
    <type name="Magento\DataMigrationTool\Test\Constraint\AssertAttributeSetInGrid">
        <arguments>
            <argument name="severity" xsi:type="string">high</argument>
        </arguments>
    </type>
    <type name="Magento\DataMigrationTool\Test\Constraint\AssertAttributeSetOnProductForm">
        <arguments>
            <argument name="severity" xsi:type="string">high</argument>
        </arguments>
    </type>
    <type name="Magento\DataMigrationTool\Test\Constraint\AssertAbsenceDeleteAttributeButton">
        <arguments>
            <argument name="severity" xsi:type="string">high</argument>
        </arguments>
    </type>
    <type name="Magento\DataMigrationTool\Test\Constraint\AssertProductCompareSuccessAddMessage">
        <arguments>
            <argument name="severity" xsi:type="string">high</argument>
        </arguments>
    </type>
    <type name="Magento\DataMigrationTool\Test\Constraint\AssertProductCompareSuccessRemoveAllProductsMessage">
        <arguments>
            <argument name="severity" xsi:type="string">high</argument>
        </arguments>
    </type>
    <type name="Magento\DataMigrationTool\Test\Constraint\AssertProductDuplicateMessage">
        <arguments>
            <argument name="severity" xsi:type="string">high</argument>
        </arguments>
    </type>
    <type name="Magento\DataMigrationTool\Test\Constraint\AssertProductDuplicateIsNotDisplayingOnFrontend">
        <arguments>
            <argument name="severity" xsi:type="string">high</argument>
        </arguments>
    </type>
    <type name="Magento\DataMigrationTool\Test\Constraint\AssertProductDuplicateForm">
        <arguments>
            <argument name="severity" xsi:type="string">high</argument>
        </arguments>
    </type>
    <type name="Magento\DataMigrationTool\Test\Constraint\AssertAttributeSetGroupOnProductForm">
        <arguments>
            <argument name="severity" xsi:type="string">high</argument>
        </arguments>
    </type>
    <type name="Magento\DataMigrationTool\Test\Constraint\AssertUsedSuperAttributeImpossibleDeleteMessages">
        <arguments>
            <argument name="severity" xsi:type="string">high</argument>
        </arguments>
    </type>
    <type name="Magento\DataMigrationTool\Test\Constraint\AssertAttributeSetSuccessDeleteMessage">
        <arguments>
            <argument name="severity" xsi:type="string">high</argument>
        </arguments>
    </type>
    <type name="Magento\DataMigrationTool\Test\Constraint\AssertProductTypeOrderOnCreate">
        <arguments>
            <argument name="severity" xsi:type="string">high</argument>
        </arguments>
    </type>
    <type name="Magento\DataMigrationTool\Test\Constraint\AssertMassProductUpdateSuccessMessage">
        <arguments>
            <argument name="severity" xsi:type="string">high</argument>
        </arguments>
    </type>
    <type name="Magento\DataMigrationTool\Test\Constraint\AssertCategoryWithCustomStoreOnFrontend">
        <arguments>
            <argument name="severity" xsi:type="string">low</argument>
        </arguments>
    </type>
</config>
